---
import { Image } from 'astro:assets';
import { getEntry, render } from 'astro:content';
import Prose from '@/components/Prose.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import SelectImage from '@/components/SelectImage';
import car from '@/images/car.jpg';
import dog from '../images/dog.jpg';
import eagle from '../images/eagle.jpg';
import love from '../images/love.jpg';
import motorcycle from '../images/motorcycle.jpg';
const exampleImgs = [
  { src: car, alt: 'Car | AI Background Remover - BgGone' },
  { src: dog, alt: 'Pet | AI Background Removal - BgGone' },
  { src: eagle, alt: 'Animal | AI Remove Background - BgGone' },
  { src: love, alt: 'People | AI Remove the Background of people - BgGone' },
  { src: motorcycle, alt: 'Sports | AI Remove Bg - BgGone' },
];
const pageTitle = 'AI Background Remover';
const secondTitle = 'Free, Batch, No Login, No Quality Loss';
const title =
  'BgGone - Free AI Background Remover. Free, Batch, No Login, No Quality Loss';

const entry = await getEntry('content', 'index');
const { Content } = await render(entry!);
---

<BaseLayout pageTitle={pageTitle} secondTitle={secondTitle} title={title}>
  <SelectImage client:load>
    {
      exampleImgs.map(({ src, alt }) => (
        <Image
          class="w-13 md:w-16 rounded-md cursor-pointer"
          src={src}
          alt={alt}
        />
      ))
    }
  </SelectImage>

  <div class="mt-5 md:mt-8 px-4 main-width">
    <Prose>
      <Content />
    </Prose>

    <div class="mt-4">
      <a class="cursor-pointer hover:underline" id="back-to-top"
        >Remove Backgrounds Now</a
      >
    </div>
  </div>
</BaseLayout>

<script>
  const backToTopButton = document.getElementById('back-to-top');
  backToTopButton?.addEventListener('click', (e) => {
    e.preventDefault();
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  });
</script>
